<div class="absolute">
    <img src="https://assets.nflxext.com/ffe/siteui/vlv3/826348c2-cdcb-42a0-bc11-a788478ba5a2/6d20b198-e7ab-4e9f-a1aa-666faa0298f9/IN-en-20240729-POP_SIGNUP_TWO_WEEKS-perspective_WEB_a67d8c9e-8121-4a74-98e4-8005eb2df227_small.jpg"
        alt="" />
</div>
<div class="w-full md:w-3/12 absolute right-0 left-0 p-12 bg-black
 my-36 mx-auto text-white rounded bg-opacity-80">
    <h1 class="font-bold text-3xl py-4">Netflix Sign In</h1>

    <div class="google-btn" id="google-btn"></div>

</div>